*.swp
*.pyc

logs/*
data/*

docker/docker-entrypoint-initdb.d/*.csv
docker/docker-entrypoint-initdb.d/*.zip
docker/docker-entrypoint-initdb.d/*daily.sql
docker/docker-entrypoint-initdb.d/*daily.sql.gz
docker/docker-compose.yml

app/static/*
app/node_modules/*
app/bower_components/*

config.py
backup.sh
