body {
  color: #3D4A4C;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.tab {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

@media (max-width: 719px) {
  h1 {
    font-size: 26px;
  }
}

.columns {
  width: 100%;
  float: left;
}

@media (min-width: 721px) {
  .four.columns {
    width: 33.3%;
  }
}

/* https://community.plot.ly/t/modebar-appears-on-top-of-dropdown-list/6398 */
.Select-menu-outer {
  z-index: 1002;
}
