{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Open Multilaterals - About" />
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>About 'Open Multilaterals'</h1>
  <p>Countries participate in many multilateral organisations, like the United Nations, World Bank or NATO. These organisations are (partially) funded via contributions from each member country. To fulfill their duties, these organisations buy services and products from companies all over the wolrd. On this website we show which countries and companies reap the benefits of these transactions.</p>

  <h2>Where did we get the data?</h2>
  <p></p>

  <h2>Why are Open Data from multilateral organisations important?</h2>
  <p>See also https://openstate.github.io/multitest/ and https://openstate.eu/en/2017/11/transparency-multilateral-organizations-insuffient/</p>

  <h2>Who made this website?</h2>
  <p></p>

  <h2>Contact</h2>
  <p>If you have any questions, please contact us at <a href="mailto:contact@openstate.eu">contact@openstate.eu</a>.</p>
{% endblock %}
