{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Open Multilaterals - Data" />
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Data</h1>
  The datasets are available as open data and are thus free for everyone to download and use. See the <a href="{{ url_for('about') }}">about</a> page for more information on how we retrieved the data.
  <br>
  <br>
  <ul>
    <li><a href="/files/UN.csv">UN.csv</a></li>
    <li><a href="/files/NATO.csv">NATO.csv</a></li>
    <li><a href="/files/World_Bank_corporate_procurement_contract_awards.csv">World_Bank_corporate_procurement_contract_awards.csv</a></li>
    <li><a href="/files/World_Bank_major_contract_awards.csv">World_Bank_major_contract_awards.csv</a></li>
  </ul>

  <h2>Description of fields available in all four datasets</h2>
  <ul>
    <li><b>year</b>: The year in which the contract/order was awarded</li>
    <li><b>vendor_country</b>: </li>
    <li><b>vendor_name</b>: </li>
    <li><b>amount</b>: The amount in dollars awarded  for the contract/order; NATO values were in euro's so they have been converted to dollars using <a href="https://sdw.ecb.europa.eu/browseTable.do?node=qview&SERIES_KEY=120.EXR.D.USD.EUR.SP00.A&start=01-01-2008&end=28-06-2018&submitOptions.x=0&submitOptions.y=0&trans=N&q=&type">these exchange rates</a> (Set 'Transformation' to 'Annual Frequency' to get the annual averages)</li>
    <li><b>description</b>: </li>
  </ul>
{% endblock %}
