{% extends "base.html" %}
{% block head %}
  <title>Open Multilaterals - Data</title>
  <meta property="og:title" content="Open Multilaterals - Data" />
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Data</h1>
  The datasets are available as open data and are thus free for everyone to download and use. See the <a href="{{ url_for('about') }}">about</a> page for more information on how we retrieved the data.
  <br>
  <br>
  You can download and explore the datasets at our data portal <a href="https://data.openstate.eu/dataset/open-multilaterals" target="_blank">https://data.openstate.eu/dataset/open-multilaterals</a>, or click the links below:
  <br>
  <br>
  <ul>
    <li><a href="https://data.openstate.eu/dataset/f3525ebe-2c14-4f8f-8d2a-5b03a93a0304/resource/0dee6d41-85c4-4588-898f-9b379f1d23a7/download/un.csv">UN</a> (CSV) [original source in <a href="https://www.unops.org/news-and-stories/publications?theme%5B%5D=procurement&year=all" target="_blank">PDFs of Annual Statistical Reports on United Nations Procurement</a>; contracts are only published if they are above $30,000]</li>
    <li><a href="https://data.openstate.eu/dataset/f3525ebe-2c14-4f8f-8d2a-5b03a93a0304/resource/b2aa4606-066f-4eaf-acae-b61f8acfaf9d/download/nato.csv">NATO</a> (CSV) [original source in <a href="https://www.nspa.nato.int/en/organization/procurement/contract.htm" target="_blank">PDFs</a>; contracts are only published if they are above €75,200-€720,000 depending on the period]</li>
    <li><a href="https://data.openstate.eu/dataset/f3525ebe-2c14-4f8f-8d2a-5b03a93a0304/resource/00e506b6-b2ff-404c-ab9a-713dd2d57fae/download/world_bank_corporate_procurement_contract_awards.csv">World Bank corporate procurement contract awards</a> (CSV) [original source available as <a href="https://dev.socrata.com/foundry/finances.worldbank.org/bra2-9bqu" target="_blank">machine readable open data (CSV, JSON, API)</a>]</li>
    <li><a href="https://data.openstate.eu/dataset/f3525ebe-2c14-4f8f-8d2a-5b03a93a0304/resource/8f73b2b2-fb01-4058-960e-664801aaa834/download/world_bank_major_contract_awards.csv">World Bank major contract awards</a> (CSV) [original source available as <a href="https://dev.socrata.com/foundry/finances.worldbank.org/45tv-a6qy" target="_blank">machine readable open data (CSV, JSON, API)</a>]</li>
  </ul>
  <h2>Description of fields</h2>
  <h3>Fields available in all four datasets</h3>
  <ul>
    <li><b>year</b>: The year in which the contract/order was awarded</li>
    <li><b>vendor_country</b>: The country where the vendor organization is located</li>
    <li><b>vendor_name</b>: The name of the vendor organization</li>
    <li><b>amount</b>: The amount in dollars awarded  for the contract/order; NATO values were in euros so they have been converted to dollars using <a href="https://sdw.ecb.europa.eu/browseTable.do?node=qview&SERIES_KEY=120.EXR.D.USD.EUR.SP00.A&start=01-01-2008&end=28-06-2018&submitOptions.x=0&submitOptions.y=0&trans=N&q=&type">these exchange rates</a> (Set 'Transformation' to 'Annual Frequency' to get the annual averages)</li>
    <li><b>description</b>: Description of the contract/order</li>
  </ul>
  <p>All datasets have other fields available as well, but they are often specific to each dataset. Regarding the World Bank data: we combined both the corporate procurement contract award and major contract awards data in the chart and table at the home page of this website. Some of the columns are unique to each dataset and are thus empty in the table. Award Date, Commodity Category, WBG Organization, Selection Number, Fund Source, VPU description, Contract Award Type are unique to the corporate procurement contract awards dataset. The field Supplier Country Code is common to both. The rest of the fields are unique to the major contract awards dataset.</p>
{% endblock %}
