{% extends "base.html" %}
{% block head %}
  <title>Open Multilaterals - Data</title>
  <meta property="og:title" content="Open Multilaterals" />
  {{ super() }}
{% endblock %}

{% block content %}
<div class="resp-container">
  {% if debug %}
  <iframe class="resp-iframe" src="http://openmultilaterals.org/dash"></iframe>
  {% else %}
  <iframe class="resp-iframe" src="https://openmultilaterals.org/dash"></iframe>
  {% endif %}
</div>

<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>United Nations</h2>
    <table id="datatables_un" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>amount ($)</th>
          <th>vendor name</th>
          <th>vendor country</th>
          <th>description</th>
          <th>year</th>
          <th>un organisation</th>
          <th>contracts or orders</th>
          <th>number of contracts or order</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>NATO</h2>
    <table id="datatables_nato" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>amount ($)</th>
          <th>vendor name</th>
          <th>vendor country</th>
          <th>description</th>
          <th>year</th>
          <th>type</th>
          <th>period</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>World Bank</h2>
    <table id="datatables_world_bank" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>amount ($)</th>
          <th>vendor name</th>
          <th>vendor country</th>
          <th>description</th>
          <th>year</th>
          <th>award date</th>
          <th>commodity category</th>
          <th>wbg organization</th>
          <th>selection number</th>
          <th>supplier country code</th>
          <th>fund source</th>
          <th>vpu description</th>
          <th>region</th>
          <th>borrower country</th>
          <th>borrower country code</th>
          <th>project id</th>
          <th>project name</th>
          <th>procurement type</th>
          <th>procurement category</th>
          <th>procurement method</th>
          <th>product line</th>
          <th>major sector</th>
          <th>wb contract number</th>
          <th>contract signing date</th>
          <th>borrower contract reference number</th>
          <th>contract award type</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var table_un = $('#datatables_un').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ url_for('datatables_un') }}",
        "columnDefs": [
          {"targets": 0, "className": "dt-body-right"},
          {"targets": 0, "render": $.fn.dataTable.render.number(',', '.', 2, '')}
        ],
        "responsive": true,
        "search": {"search": "Netherlands"},
        "order": [[4, "desc"], [2, "asc"], [1, "asc"]],
        "pagingType": "extStyle"
      });
      var table_nato = $('#datatables_nato').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ url_for('datatables_nato') }}",
        "columnDefs": [
          {"targets": 0, "className": "dt-body-right"},
          {"targets": 0, "render": $.fn.dataTable.render.number(',', '.', 2, '')}
        ],
        "responsive": true,
        "search": {"search": "Netherlands"},
        "order": [[4, "desc"], [2, "asc"], [1, "asc"]],
        "pagingType": "extStyle"
      });
      var table_world_bank = $('#datatables_world_bank').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ url_for('datatables_world_bank') }}",
        "columnDefs": [
          {"targets": 0, "className": "dt-body-right"},
          {"targets": 0, "render": $.fn.dataTable.render.number(',', '.', 2, '')}
        ],
        "responsive": true,
        "search": {"search": "Netherlands"},
        "order": [[4, "desc"], [2, "asc"], [1, "asc"]],
        "pagingType": "extStyle"
      });
    });
  </script>
{% endblock %}
