{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Multilateral Organisations" />
  {{ super() }}
{% endblock %}

{% block content %}
<div class="edit-form">
  <form method="POST" action="">
    {{ selection_form.csrf_token }}

    <div class="login-forms">
            Show me for {{ selection_form.country }} the {{ selection_form.value_type }} in {{ selection_form.num_or_perc }}
      {% for error in selection_form.country.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
      {{ selection_form.submit }}
    </div>

    <div>
    </div>
  </form>
</div>

{% for year, amount in nato_country_values_dict.items() %}
  {{ year }}: {{ amount }}
  <br>
{% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
